@import "../../../scss/colors";

.sideBar ul {
    list-style-type: none;
    margin: 3px 0 0 0;
    padding: 5px;
    overflow: auto;
  }

  .sideBar li a {
    display: block;
    color: $black;
    padding: 15px;
    text-decoration: none;
    margin: 3px 10px 3px 10px;
  }

  /* Change the link color on hover */
  .sideBar li a:hover {
    background: $menu-bar-gray;
    color: $white;
    transition: 0.3s;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.6s;
  }

  .navbar a:hover, .dropdown:hover .dropbtn a {
    background: $menu-bar-gray;
    color: $white;
    transition: 0.3s;
  }