@import "../../../scss/colors";
  
  .PageColumnBig {
    float: left;
    width: 70%;
  }

  .PageColumnSmall {
    float: left;
    width: 30%;
  }

  .StartPageImg {
    width: 100%;
    height: 400px;
  }
  
  .PageColumnBig:hover .StartPageImg, .PageColumnSmall:hover .StartPageImg {
    opacity: 0.3;
  }
  
  .PageColumnBig:hover .ImageOverlay, .PageColumnSmall:hover .ImageOverlay {
    opacity: 1;
  }