.filter-wrapper {
  border-bottom: 2px solid #e1e1e1;
}

.filter-headline {
  color: black;
  font-weight: bold;
  padding: 10px;
  border-top: 3px solid #ff6781;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2px 6px 0 6px;
  background: rgba(255, 255, 255, 0.4);
}

.filter-content ul, .filter-content-horizontal ul {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 15px;
  overflow: auto;
}

.filter-content-horizontal ul {
  margin: 10px;
  text-align: center;
  display: ruby-base;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark, .checkmark-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

/* Style the color of the custom checkbox */
.checkmark {
  background-color: #777777;
}

/* Colors: Style the color of the custom checkbox*/
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: #ff6781;
}

.multicolored {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.05, #1167cf), color-stop(0.15, #ff6781), color-stop(0.25, #000291), color-stop(0.45, #00ebd7), color-stop(0.55, #00b539), color-stop(0.75, #f9fd00), color-stop(1, red));
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #525252;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #525252;
}

/* Colors: On mouse-over, add a grey shadow*/
.container:hover input ~ .checkmark-color {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Colors: Create the checkmark/indicator (hidden when not checked)*/
.checkmark-color:after {
  content: "";
  position: absolute;
  display: none;
}

/* Colors: Show the checkmark when checked*/
.container input:checked ~ .checkmark-color:after {
  display: block;
}

/* Colors: Style the color of the checkmark/indicator*/
.container .checkmark-color:after {
  border: solid white;
}

/* Colors: Style the color of the checkmark/indicator for white*/
.container .white:after {
  border: solid #777777;
}

/* Colors: Style the checkmark/indicator*/
.container .checkmark-color:after, .white:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Style the input boxes to filter the price*/
input[type=checkbox-Price] {
  width: 80px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 15px;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  color: black;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  color: black;
  padding: 12px 15px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
  right: 45px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 13px;
  right: 45px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  cursor: pointer;
  margin: 10px 30px;
}

/* Style the item */
.select-items div {
  margin: 4px 10px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.2);
  border-top: 2px solid rgba(51, 51, 51, 0.2);
  padding: 8px 16px;
}

/* Style all items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 30px 30px 30px;
  padding: 10px 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0 3px 0;
}

nav {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  background-color: rgba(51, 51, 51, 0.2);
}

.left {
  border-right: 3px solid #ff6781;
}

article {
  -ms-flex: 4;
  -webkit-box-flex: 4;
          flex: 4;
  background-color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.PageContent {
  padding: 10px;
  background-color: white;
  text-align: center;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.PageColumn {
  float: left;
  width: 25%;
}

.Image {
  position: relative;
}

/* Clear floats after the columns */
.PageRow:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  text-align: center;
}

h1 {
  padding: 3px;
}

.price {
  color: #777777;
  font-size: 22px;
  padding: 3px;
}

.card button, .ItemCard button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #ff6781;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  opacity: 1;
}

.card button:hover, .ItemCard button:hover {
  opacity: 0.9;
}

.PageImg, .StartPageImg, .ItemPageImg {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.PageImg {
  width: 100%;
  height: 260px;
}

.ImageOverlay {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.PageColumn:hover .PageImg {
  opacity: 0.3;
}

.PageColumn:hover .ImageOverlay {
  opacity: 1;
}

.ImgText {
  color: black;
  font-size: 16px;
  margin: -40px;
  font-weight: 900;
}

.PageColumnBig {
  float: left;
  width: 70%;
}

.PageColumnSmall {
  float: left;
  width: 30%;
}

.StartPageImg {
  width: 100%;
  height: 400px;
}

.PageColumnBig:hover .StartPageImg, .PageColumnSmall:hover .StartPageImg {
  opacity: 0.3;
}

.PageColumnBig:hover .ImageOverlay, .PageColumnSmall:hover .ImageOverlay {
  opacity: 1;
}

.ItemPageColumn {
  float: left;
  width: 50%;
}

.ItemCard {
  margin: 10px;
  text-align: left;
}

.ItemPageImg {
  width: 90%;
  height: 400px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ItemHeadline {
  padding: 10px;
  font-size: 20px;
}

.ItemCard .price {
  margin: 50px 0 0 0;
}

.ItemCard .information {
  padding: 20px;
}

.ItemCard ul li {
  padding: 2px;
}

.ItemCard .description {
  margin: 50px 0 20px 0;
}

.sideBar ul {
  list-style-type: none;
  margin: 3px 0 0 0;
  padding: 5px;
  overflow: auto;
}

.sideBar li a {
  display: block;
  color: black;
  padding: 15px;
  text-decoration: none;
  margin: 3px 10px 3px 10px;
}

/* Change the link color on hover */
.sideBar li a:hover {
  background: #333333;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar a:hover, .dropdown:hover .dropbtn a {
  background: #333333;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Set a style for all buttons */
.addToCartModal button {
  background-color: #ff6781;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.addToCartModal button:hover {
  opacity: 0.9;
}

/* Float cancel and signup buttons and add an equal width */
.weiterEinkaufenBtn, .zumWarenkorbBtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.cartContainer {
  padding: 16px;
}

/* The Modal (background) */
.addToCartModal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}

/* Modal Content/Box */
.addToCartModal-content {
  background-color: white;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 15%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #ff6781;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .weiterEinkaufenBtn, .zumWarenkorbBtn {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  background-image: url("/front/src/assets/images/DSC_5590.jpg");
  background-color: #cccccc;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header h1 {
  position: absolute;
  top: 50%;
  left: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-variant: small-caps;
  font-family: "Segoe UI Light", sans-serif;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

.menu:hover {
  background-color: #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu a {
  text-decoration: none;
  color: #e1e1e1;
  width: 100px;
  display: block;
  padding: 15px;
  border-right: 2px solid #e1e1e1;
  border-left: 2px solid #e1e1e1;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 4.5px;
}

.menu a:hover {
  color: #ff6781;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu form.search button {
  background: #777777;
  color: white;
  font-size: 17px;
  border: 0px;
  border-left: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: -3px;
  height: 48px;
  width: 48px;
}

.menu form.search button:hover {
  background: #ff6781;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu input[type=search-input] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 20px;
}

.menu input[type=search-input]:focus {
  width: 400px;
}

.footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #777777;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer div {
  width: auto;
  min-width: 100px;
  margin: 10px;
  text-align: center;
}

.footer div img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 700px) {
  .footer, .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu a {
    width: 700px;
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */