        <h2>Warenkorb</h2>
        <p>Hier finden Sie ihre hinzugefügten Produkte.</p>

        <table id="warenkorb">
          <thead>
            <th style="width:50%">Produkte</th>
            <th>Anzahl</th>
            <th>Löschen</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in cart">
            <td>{{item.name}}</td>
            <td><input type="number" value="1"></td>
            <td><i class="fas fa-trash" ng-click="removeItem(item)"></i></td>
          </tr>
        </tbody>
        </table>
        <br>
        <h3>Lieferaddresse</h3>
        <P>Max Mustermann</P>
        <p>Beispielstraße 1</p>
        <p>12345 Beispielhausen</p>
        <p>Das ist ihre Zahlungsmethode:</p>
        <button class="Kaufen" id="finishbuy">Kaufen</button>