@import "../../../scss/colors";

  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  .warenkorb-content {
    text-align: left;
    margin: 10%;
    width: 80%;
  }
  .warenkorb-content table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  .warenkorb-content h2 {
    text-align: left;
  }

  .warenkorb-content .shoppingcartbtn {
width: 25%;
  }

  .warenkorb-content .address {
    text-align: left;
  }

  .labelGray, .labelWhite{
    padding: 8px 20px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    width: 80%;
    text-align: left;
  }