@import "../../../scss/colors";

  section {
    display: -webkit-flex;
    display: flex;
    margin: 3px 0 3px 0;
  }

  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: $background-color-gray;
  }

  .left {
    border-right: 3px solid $pastell-pink;
  }

  article {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: $white;
  }

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
