$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
// $background-color-gray: rgb(241, 241, 241);
$background-color-gray: rgba(51, 51, 51, 0.2);
$hover-link:rgb(235, 234, 234);
$border-color: rgb(225, 225, 225);
$border-input: rgb(204, 204, 204);
$background-header: rgb(204, 204, 204);
$background-footer: rgb(119, 119, 119);
$search-button-hover: rgb(82, 82, 82);
$menu-bar-gray: rgb(51, 51, 51);
$pastell-pink: #ff6781;
$akzentFarbe: rgb(122, 185, 26);