<div class="item-container" ng-controller="cartController">
    <div class={{item.class}} ng-repeat="item in items.item_list">
        <a href="#!item/{{item.id}}">
            <div class="image-container">
                <img ng-src="/front/src/assets/images/{{item.picture}}" alt="{{ item.name }}">
                <div class="description-container">
                    <div class="description">
                        {{ item.description }}
                    </div>
                </div>
            </div>
            <h1>{{ item.name }}</h1>
            <p class="price">{{ item.price }}</p>
        </a>
        <button ng-click="addItem(item.id, item.name)">Add to Cart</button>
    </div>
</div>