.nav__container {
    background-color: $medium-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.side-nav__search {
    width: 15%;
    z-index:1;
    background-color: $medium-gray;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size: 16px;
    color: $light-medium-gray;
    font-family: "Montserrat";
}

.side-nav__search-criteria {
    padding: 10px 20px;
}