@import "../../../scss/colors";

  .PageContent {
    padding: 10px;
    background-color: $white;
    text-align: center;
    color: $black;
    box-sizing: border-box;
    margin: 0;
  }
  
  .PageColumn {
    float: left;
    width: 25%;
  }

  .Image {
    position: relative;
}
  
  /* Clear floats after the columns */
  .PageRow:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
  }

  h1 {
    padding: 3px;
  }
  
  .price {
    color: $background-footer;
    font-size: 22px;
    padding: 3px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: $white;
    background-color: $black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .PageImg {
    width: 100%;
    height: 260px;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .ImageOverlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .PageColumn:hover .PageImg {
    opacity: 0.3;
  }
  
  .PageColumn:hover .ImageOverlay {
    opacity: 1;
  }
  
  .ImgText {
    color: $black;
    font-size: 16px;
    margin: -40px;
    font-weight: 900;
  }