@import "../../../../scss/colors";
  
  /* Add padding to container elements */
  .cartContainer {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .shoppingcart {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .shoppingcart-content {
    background-color: $white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

.close:hover,
.close:focus {
  color: $akzentFarbe;
  cursor: pointer;
}

/* Set a style for all button */
.addToCartModal button {
  background-color: $akzentFarbe;
  color: $white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.addToCartModal button:hover {
  opacity: 0.9;
}

/* Float left for home button */
.homebtn {
  float: left;
}

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }