<div class="PageContent" ng-if="rootUser==null">
    <div class="signUpContent" ng-if="!success">

        <h1>Registrierung</h1>
        <p>Jetzt registrieren und von den Vorteilen des Kundenkontos profitieren!</p>
        <hr>
        <input type="text" placeholder="E-Mail" name="email" maxlength="30" required ng-model="request.email">
        <input type="password" placeholder="Passwort" name="psw" maxlength="30" required ng-model="request.password">
        <input type="password" placeholder="Passwort wiederholen" name="psw" maxlength="30" required ng-model="password">
        <hr>

        <input type="text" placeholder="Vorname" name="Vorname" maxlength="30" required ng-model="request.first_name">
        <input type="text" placeholder="Nachname" name="Nachname" maxlength="30" required ng-model="request.surname">

        <label class="geburtstagLbl" for="Geburtstag">Geburtstag</label>
        <input type="date" min="1980-01-01" placeholder="Geburtstag" name="Geburtstag" required ng-model="request.birthday">

        <input type="straße" placeholder="Straße" name="Straße" maxlength="30" required ng-model="request.street">
        <input type="Hausnr" placeholder="Hausnr." name="Hausnr" maxlength="4" required ng-model="request.house_number">

        <input type="plz" placeholder="PLZ" name="plz" maxlength="5" pattern="[0-9]{5}" required ng-model="request.post_code">
        <input type="Stadt" placeholder="Stadt" name="Stadt" maxlength="30" required ng-model="request.city">
        <input type="Land" placeholder="Land" name="Land" maxlength="30" required ng-model="request.country">
        <hr>

        <div class="paymentButtons">
            <label for="PayPal" class="container">PayPal
                <input type="radio" id="PayPal" name="payment" ng-value=1 ng-model="request.payment_method">
                <span class="checkmark"></span>
            </label>
            <label for="Rechnung" class="container">Rechnung
                <input type="radio" id="Rechnung" name="payment" ng-value=2 required ng-model="request.payment_method">
                <span class="checkmark"></span>
            </label>
            <label for="Lastschrift" class="container">Lastschrift
                <input type="radio" id="Lastschrift" name="payment" ng-value=3 ng-model="request.payment_method">
                <span class="checkmark"></span>
            </label>
            <label for="Kreditkarte" class="container">Kreditkarte
                <input type="radio" id="Kreditkarte" name="payment" ng-value=4 ng-model="request.payment_method">
                <span class="checkmark"></span>
            </label>
        </div>
        <hr>

        <agbdatenschutz></agbdatenschutz>
        <p>Mit der Registrierung stimme ich den <span onclick="document.getElementById('agbModal').style.display='block'" style="color:dodgerblue; cursor: pointer">AGBs & Datenschutz</a> zu.</p>
        <button type="submitBtn" ng-click="submitRegistrationForm()">Jetzt Registrieren</button>

    </div>
    <div ng-if="success">
        Ihr Speichern war erfolgreich. Sie können sich nun <span onclick="document.getElementById('loginModal').style.display='block'">hier</span> einloggen.
    </div>
</div>

<div ng-if="rootUser!=null">
    Sie sind bereits eingeloggt
    <button ng-click="logout()">Logout</button>
</div>
