@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/front/root/fonts/montserrat.woff2") format("woff2");
}

.header {
  background-image: url("/front/root/images/DSC_5590.jpg");
  background-color: #cccccc;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-variant: small-caps;
  text-shadow: 0 0 0.2em #000000;
  font-family: "Segoe UI Light", sans-serif;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #f1f1f1;
  opacity: 0.85;
  filter: alpha(opacity=85);
  font-family: "Segoe UI Light", sans-serif;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  border-bottom: 2px solid #e1e1e1;
  overflow: hidden;
}

.menu li {
  display: inline-block;
  height: 100%;
}

.menu li a {
  text-decoration: none;
  color: black;
  width: 100px;
  display: block;
  padding: 15px;
  border-right: 2px solid #e1e1e1;
  border-left: 2px solid #e1e1e1;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.menu li a:hover {
  background: #ebeaea;
}

.menu li a.active {
  background: #ebeaea;
}

input[type=search-input] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
}

input[type=search-input]:focus {
  width: 400px;
}

form.search button {
  margin-left: -3px;
  background: #777;
  color: white;
  font-size: 17px;
  border: 2px solid #777;
  border-left: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 20px;
  height: 48px;
  width: 48px;
}

form.search button:hover {
  background: #525252;
  border: 2px solid #525252;
}

.filter-wrapper {
  border-bottom: 2px solid #e1e1e1;
}

.filter-headline {
  background-color: #525252;
  color: white;
  padding: 10px;
}

.filter-content ul {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 15px;
  overflow: auto;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark, .checkmark-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

/* Style the color of the custom checkbox */
.checkmark {
  background-color: #777;
}

/* Colors: Style the color of the custom checkbox*/
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: #ff00aa;
}

.bunt {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.05, #1167cf), color-stop(0.15, #ef00bf), color-stop(0.25, #000291), color-stop(0.45, #00ebd7), color-stop(0.55, #00b539), color-stop(0.75, #f9fd00), color-stop(1, red));
}

.black {
  background-color: #000;
}

.white {
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #525252;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #525252;
}

/* Colors: On mouse-over, add a grey shadow*/
.container:hover input ~ .checkmark-color {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Colors: Create the checkmark/indicator (hidden when not checked)*/
.checkmark-color:after {
  content: "";
  position: absolute;
  display: none;
}

/* Colors: Show the checkmark when checked*/
.container input:checked ~ .checkmark-color:after {
  display: block;
}

/* Colors: Style the color of the checkmark/indicator*/
.container .checkmark-color:after {
  border: solid white;
}

/* Colors: Style the color of the checkmark/indicator for white*/
.container .white:after {
  border: solid #777;
}

/* Colors: Style the checkmark/indicator*/
.container .checkmark-color:after, .white:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

footer {
  background-color: #777;
  text-align: center;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer .column {
  float: left;
  width: 32%;
  padding: 10px;
  margin: 0;
}

footer .row:after {
  content: "";
  display: table;
  clear: both;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0 0 0;
  background-color: #f1f1f1;
}

nav {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

article {
  -ms-flex: 3;
  -webkit-box-flex: 3;
          flex: 3;
  background-color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.PageContent {
  padding: 10px;
  background-color: white;
}

.sideBar ul {
  list-style-type: none;
  margin: 3px 0 0 0;
  padding: 5px;
  background-color: #f1f1f1;
  overflow: auto;
}

.sideBar li a {
  display: block;
  color: #000;
  padding: 15px;
  text-decoration: none;
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  margin: 3px 10px 3px 10px;
}

/* Change the link color on hover */
.sideBar li a:hover {
  background: #ebeaea;
  color: #000;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  background-color: #ebeaea;
}

.navbar a:hover, .dropdown:hover .dropbtn a {
  background-color: #ebeaea;
}

.dropdown .dropdown-content a:hover {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}
/*# sourceMappingURL=main.css.map */