/* Set a style for all buttons */
.addToCartModal button {
    background-color: $pastell-pink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
  }
  
  .addToCartModal button:hover {
    opacity: 0.9;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .weiterEinkaufenBtn, .zumWarenkorbBtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .cartContainer {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .addToCartModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .addToCartModal-content {
    background-color: $white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 15%;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

.close:hover,
.close:focus {
  color: $pastell-pink;
  cursor: pointer;
}
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .weiterEinkaufenBtn, .zumWarenkorbBtn {
       width: 100%;
    }
  }