<div class="PageContent">
        <div class="profileContent">

            <img src="/front/src/assets/images/avatar-icon.png" alt="profile" class="profile-avatar">

            <h1>Profil</h1>
            <hr>

            <!-- <label class="labelWhite" for="deineDaten">Deine Daten</label> -->
            <div class="profileLeft">
                <label class="labelGray" for="Name">Name</label>
                <label class="labelGray" for="StraßeNr">Straße + Hausnr.</label>
                <label class="labelGray" for="plzStadtLand">PLZ Stadt, Land</label>
                <label class="labelGray" for="Geburtstag">Geburtstag</label>
                <label class="labelGray" for="email">E-mail</label>
                <label class="labelGray" for="payment">Zahlungsart</label>
            </div>

            <div class="profileRight">
                <label class="labelGray" for="Name">{{user.first_name}}</label>
                <label class="labelGray" for="StraßeNr">{{user.street + ' ' + user.house_number}}</label>
                <label class="labelGray" for="plzStadtLand">{{user.post_code + ' ' + user.city + ', ' + user.country}}</label>
                <label class="labelGray" for="Geburtstag">{{user.birthday}}</label>
                <label class="labelGray" for="email">{{user.email_address}}</label>
                <label class="labelGray" for="payment">{{user.payment}}</label>
            </div>

            <hr>

            <!-- <label class="labelWhite" for="history">Deine Bestellungen</label> -->
            <div class="historyContent">
                <table class="OrderHeadlines">
                    <tr>
                        <th>Bestelldatum</th>
                        <th>Artikelbezeichnung</th>
                        <th>Preis</th>
                        <th>Gesamt</th>
                    </tr>
                </table>
                <table class="OrderTable">
                    <tr ng-repeat="order in order_list">
                        <td>{{ order.booking_date.split(",").pop().substring(0, 12) }}</td>
                        <td>
                            <table class="OrderDetails">
                                <tr ng-repeat="order_details in order.order">
                                    <td>{{order_details.item_name}}</td>
                                    <td>{{order_details.price | number: 2}}€</td>
                                </tr>
                            </table>
                        </td>
                        <td>{{ getTotal(order.order) | number: 2}} €</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
