<div class="item-container">

    <!-- load the modal to use it later -->
    <addtocart></addtocart>

    <div class="item-card" ng-repeat="item in items.item | orderBy: sort">

        <!-- one item card on the listpage-->
        <a href="#!item/{{item.id}}">
            <div class="image-container">
                <img ng-src="/front/src/assets/images/{{item.picture}}" alt="{{item.name}}">
                <div class="image-overlay">
                    <div class="image-text">
                        {{item.description}}
                    </div>
                </div>
            </div>
            <h1>{{item.name}}</h1>
            <p class="price">{{item.price}} €</p>
        </a>

        <!-- button to load the modal and add to cart -->
        <button onclick="document.getElementById('addToCartModal').style.display='block'" ng-click="addItem(item.id, item.name, 1, item.price)">zum Warenkorb</button>
    </div>
</div>