<div class="filter-wrapper">
    <div class="filter-headline">
        Sortierung
    </div>
    <div class="filter-content-horizontal">
        <div class="custom-select">
            <select class="test" ng-model="sort">
              <option value="sold" class="select-items">Bestseller</option>
              <option value="price" class="select-items">Preis: aufsteigend</option>
              <option value="-price" class="select-items">Preis: absteigend</option>
              <option value="rating" class="select-items">Bewertungen</option>
              <option value="creation_date" class="select-items">Neueste</option>
            </select>
          </div>
    </div>
</div>

<div class="filter-wrapper">
    <div class="filter-headline">
        Preis
    </div>
    <div class="filter-content-horizontal">
        <ul>
            <li>
                <input type="number" ng-change="setMinCost(minCost)" ng-model="minCost">
            </li>
            <li>
                -
            </li>
            <li>
                <input type="number" ng-change="setMaxCost(maxCost)" ng-model="maxCost">
            </li>
            <li>
                €
            </li>
        </ul>
    </div>
</div>

<div class="filter-wrapper">
    <div class="filter-headline">
        Farbe
    </div>
    <div class="filter-content">
        <ul>
            <li>
                <label class="container">
                    blue
                    <input type="radio" name="color" ng-change="setColor('Blau', color)" ng-model="color">
                    <span class="checkmark-color blue"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    red
                    <input type="radio" name="color" ng-change="setColor('Rot', color)" ng-model="color">
                    <span class="checkmark-color red"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    green
                    <input type="radio" name="color" ng-change="setColor('Grün', color)" ng-model="color">
                    <span class="checkmark-color green"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    yellow
                    <input type="radio" name="color" ng-change="setColor('Gelb', color)" ng-model="color">
                    <span class="checkmark-color yellow"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    pink
                    <input type="radio" name="color" ng-change="setColor('Pink', color)" ng-model="color">
                    <span class="checkmark-color pink"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    black
                    <input type="radio" name="color" ng-change="setColor('Schwarz', color)" ng-model="color">
                    <span class="checkmark-color black"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    white
                    <input type="radio" name="color" ng-change="setColor('Weiß', color)" ng-model="color">
                    <span class="checkmark-color white"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    multicolored
                    <input type="radio" name="color" ng-change="setColor(null, color)" ng-model="color">
                    <span class="checkmark-color multicolored"></span>
                </label>
            </li>
        </ul>
    </div>
</div>


<div class="filter-wrapper">
    <div class="filter-headline">
        Hersteller
    </div>
    <div class="filter-content">
        <ul>
            <li>
                <label class="container">
                    Wisent
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    Hazet
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    Gardena
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="container">
                    Mojang
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </li>
        </ul>
    </div>
</div>